body {
	font-family: Arial, sans-serif;
	background-color: #f0f0f0;
	margin: 0;
	padding: 0;
}

header {
	background-color: #3498db;
	padding: 0 0;
	text-align: right;
	position: fixed;
	top: 0;
	width: 100%;
	height: 60px;
	transition: top 0.3s;
}

nav ul {
	list-style-type: none;
	padding: 0;
	margin-top: 15px;
}

nav ul li {
	display: inline-block;
	border-radius: 8px;
	text-align: center;
	padding: 6px 15px;
	margin-right: 10px;
	color: #fff;
}

nav ul li:hover {
	box-shadow: 0 0 7px rgba(0, 0, 0, 1);
	transition: 0.3s;
}

nav ul li:active {
	box-shadow: inset 0 0 1px rgba(0, 0, 0, 1);
	transition: 0.3s;
}

nav h2 {
	font-size: 20px;
	font-family: Arial;
	color: #fff;
	position: relative;
	left: 20px;
	top: -15px;
	float: left;
	margin-left: 10px;
}

nav ul a {
	text-decoration: none;
	font-weight: bold;
	font-size: 13px;
	color: #fff;
}

/* Kotak Navigasi */

nav span {
	display: inline-block;
	width: 35px;
	height: 35px;
	border-radius: 8px;
	background-color: #3498db;
	border: solid #f0f0f0 3px;
	position: absolute;
	right: 7px;
	top: 10px;
}
nav span span {
	position: relative;
	display: block;
	width: 27px;
	height: 3px;
	background-color: #f0f0f0;
	right: -3.5px;
	border: 0px;
}
.garis1 {
	top: 7px;
}
.garis2 {
	top: 12px;
}
.garis3 {
	top: 17px;
}
.navigator {
	display: none;
}

/* Kotak Menu  */

.popMenu {
	display: none;
}

.blokMenu {
	display: block;
	position: absolute;
	width: 130px;
	height: 130px;
	background-color: #f0f0f0;
	border-radius: 10px;
	right: -170px;
	text-align: left;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
	transition: 0.3s;
}

.blokMenu li {
	display: block;
	padding: 5px;
	margin: 3.5px 10px 0;
}
.blokMenu li:hover {
	box-shadow: 0 0 7px rgba(0, 0, 0, 1);
	transition: 0.3s;
}

.blokMenu li:active {
	box-shadow: inset 0 0 1px rgba(0, 0, 0, 1);
	transition: 0.3s;
}

.blokMenu li a {
	text-decoration: none;
	color: black;
	font-weight: bold;
	font-size: 15px;
}

/* Isi */

section {
	padding: 50px 0;
	text-align: center;
}

.content {
	max-width: 800px;
	margin: 0 auto;
}

h1,
h2,
h3 {
	color: #3498db;
}

.project {
	margin: 20px 0;
	padding: 20px;
	border: 1px solid #3498db;
}

footer {
	background-color: #3498db;
	color: #fff;
	text-align: center;
	padding: 10px 0;
}

/* Minimize Navigasi */

.minimize {
	display: none;
}
